* {
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fbeaff;
    &__questions {
        max-width: 600px;
        margin: 0 auto;
    }
    &__title {
        margin: 40px 0;
        text-align: center;
    }
}

.question {
    background-color: rgba(225,225,50,0.25);
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}